
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title -菜の音乐播放器</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    <link href="~/css/HeartBtn.css" rel="stylesheet" />
    <link href="~/css/font/bootstrap-icons.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: #5a5a5a;
        }

        .form-control-dark {
            color: #fff;
            background-color: var(--bs-dark);
            border-color: var(--bs-gray);
        }

            .form-control-dark:focus {
                color: #fff;
                background-color: var(--bs-dark);
                border-color: #fff;
                box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
            }

        .bi {
            vertical-align: /*-.125em*/ baseline;
            fill: currentColor;
        }

        .text-small {
            font-size: 85%;
        }

        .dropdown-toggle {
            outline: 0;
        }

        .search-bar {
            margin-right: 10px;
        }

        .cai {
            font-size: 30px;
        }
    </style>
</head>
<body>

    <header class="d-flex  flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="~/Image/logo.png"  class="bi me-2" width="300" height="75"><use xlink:href="~/Music/Index" />
        </a>
        @if (Session["UserId"] == null)
        {
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="~/Music/Index" class="nav-link px-2 link-dark cai">主页</a></li>
                <li><a href="~/Music/Library" class="nav-link px-2 link-dark cai">音乐库</a></li>
                <li><a href="~/User/Login" class="nav-link px-2 link-dark cai">上传</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-bar" action="~/Music/Search">
                <input type="search" id="searchBar" name="s" class="form-control" placeholder="搜索音乐、歌单、MV、用户..." value="@ViewBag.searched" aria-label="Search">
            </form>
        }
        else
        {
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="~/Music/Index" class="nav-link px-2 link-dark cai ">主页</a></li>
                <li><a href="~/Music/Library" class="nav-link px-2 link-dark cai">音乐库</a></li>
                <li><a href="~/Music/Create" class="nav-link px-2 link-dark cai">上传</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-bar" action="~/Music/Search">
                <input type="search" id="searchBar" name="s" class="form-control" placeholder="搜索音乐、歌单、MV、用户..." value="@ViewBag.searched" aria-label="Search">
                
            </form>
        }
        @if (Session["UserId"] == null)
        {
    <div class="col-md-3 text-end">
        <a href="~/User/Login" type="button" class="btn btn-outline-primary me-2">登录</a>
        <a href="~/Admin/AdminLogin" type="button" class="btn btn-outline-primary me-2">管理员登录</a>

    </div>
        }
        else
        {
            <div class="dropdown text-end ">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@Session["AvatarBase64"]" alt="mdo" width="50" height="50" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small " aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="~/User/Edit">个人中心</a></li>
                    <li><a class="dropdown-item" href="~/Admin/UserMusic?UserId=@Session["UserId"]">已上传歌曲</a></li>
                    <li><a class="dropdown-item" href="#">我的收藏</a></li>
                    <li><hr class="dropdown-divider cai "></li>
                    <li><a class="dropdown-item" href="~/Music/Index?Logout=true">注销</a></li>
                </ul>
            </div>

        }
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
