@model IEnumerable<LSR.Models.MusicSet>

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/Player_Layout.cshtml";
}
<style>
    .list-group {
        width: auto;
        max-width: 720px;
        margin: 1px auto;
    }

    .opacity-50 {
        opacity: .5;
    }

    .opacity-75 {
        opacity: .75;
    }
    ul, ol {
        list-style: none;
    }
    .chose {
        padding-top: 20px;
    }

        .chose .box {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

            .chose .box ul {
                display: flex;
                flex-wrap: wrap;
                /*width: 90%;*/
                margin: 0;
            }

                .chose .box ul li {
                    color: #161616;
                    font-size: 14px;
                    cursor: pointer;
                    border: 1px solid #afafaf;
                    padding: 7px 14px;
                    border: 1px solid #afafaf;
                    border-right: none;
                }

                    .chose .box ul li:nth-of-type(1) {
                        margin-right: 10px;
                        border-radius: 4px;
                        border-right: 1px solid #afafaf;
                    }

                    .chose .box ul li:nth-of-type(2) {
                        border-radius: 4px 0 0 4px;
                    }

                    .chose .box ul li:nth-last-of-type(1) {
                        border-radius: 0 4px 4px 0;
                        border-right: 1px solid #afafaf;
                    }

                    .chose .box ul li:hover {
                        background: #fb729930;
                        color: #fb7299;
                    }

                    .chose .box ul li.act {
                        color: #fb7299;
                        border-color: #fb7299;
                        border-right: none;
                        background-color: #fb729930;
                        font-weight: 700;
                    }

                    .chose .box ul li:nth-of-type(1).act {
                        border-right: 1px solid #fb7299;
                    }

                    .chose .box ul li:nth-last-of-type(1).act {
                        border-right: 1px solid #fb7299;
                    }

                    .chose .box ul li.act2 {
                        border-left: 1px solid #fb7299;
                    }

                    .chose .box ul li:nth-of-type(2).act2 {
                        border-left: 1px solid #afafaf;
                    } 
</style>
<input type="text" id="test"/>
<button onclick="sss($('#test').val())">试试看</button>
<script type="text/javascript">
    function sss(e) {
        $.ajax({
            url: '/LSR/Music/GetStyles',
            data: {},
        type: 'post',
            success: data => {
                console.log(data);
            },
            error: data => {
                DoTipBox('error', '发生错误了!');
            }
        });
    }
</script>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                @Ajax.ActionLink("歌手", "SearchLirary", "Music", new {  Type = 1 }, new AjaxOptions { OnComplete = "AriaActive(1)", UpdateTargetId = "cardBody", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link active a1", aria_current = "true" })
            </li>
            <li class="nav-item">
                @Ajax.ActionLink("专辑", "SearchLirary", "Music", new { s = Model, Type = 2 }, new AjaxOptions { OnComplete = "AriaActive(2)", UpdateTargetId = "cardBody", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link a2" })

            </li>
            
            <li class="nav-item">
                @Ajax.ActionLink("歌单", "SearchLirary", "Music", new { s = Model, Type = 3 }, new AjaxOptions { OnComplete = "AriaActive(4)", UpdateTargetId = "cardBody", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link a4" })

            </li>
            <li class="nav-item">
                @Ajax.ActionLink("MV", "SearchLirary", "Music", new { s = Model, Type = 4 }, new AjaxOptions { OnComplete = "AriaActive(3)", UpdateTargetId = "cardBody", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link a3" })

            </li>
        </ul>
    </div>

    <div class="card-body" id="cardBody">
        @Html.Action("SearchLibrary", new { Type = 1 })

    </div>
</div>



