@model LSR.Models.MusicSet
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/Player_Layout.cshtml";
}
<h1>@Model.MusicName -@Model.ArtistSet.Name</h1>
<link href="~/Content/APlayer.min.css" rel="stylesheet" />

    <div id="player" class="aplayer"></div>
    @Scripts.Render("~/Scripts/APlayer.min.js")

<script language="JavaScript">

        const ap = new APlayer({
            container: document.getElementById('player'),
            mini: false,
            autoplay: false,
            loop: 'all',
            fixed: false,
            mutex: true,
            lrcType: 3,
            audio: {
                    name: '@Model.MusicName',
                    artist: '@Model.ArtistSet.Name',                    
                    url: '@System.Configuration.ConfigurationManager.AppSettings["_MusicFileFolder"]/@Model.MusicFile',
                    cover: '@System.Configuration.ConfigurationManager.AppSettings["_MusicImagesFolder"]/@Model.MusicImage',
                    lrc: '@System.Configuration.ConfigurationManager.AppSettings["_MusicLyricsFolder"]/@Model.MusicLyrics',
                    theme: '#ebd0c2'
            }
        });
</script>
    <div class="text-center">
        @Html.ActionLink("回到音乐清单", "Library", "Music")
    </div>
